*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9);
    font-size: 28px;
}
.logo span{
    color: #ea1531;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,10);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}
nav ul li a:hover{
    color: #ea1531;
    transition: .5s;
    text-transform: uppercase;
}
.btn{
    position: relative;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    color: #ea1531;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.9);
    overflow: hidden;
}
.btn:hover{
    background: #ea1531;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.9);
    transform: scale(1.3);
}
.btn span{
    position: absolute;
    display: block;
}
.btn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent,#ea1531);
    animation: btn1 1s linear infinite;
}
@keyframes btn1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}
.btn span:nth-child(2){
    right: 0;
    top: -100%;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent,#ea1531);
    animation: btn2 1s linear infinite;
    animation-delay: .20s;
}
@keyframes btn2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}
.btn span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent,#ea1531);
    animation: btn3 1s linear infinite;
    animation-delay: .45s;
}
@keyframes btn3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}
.btn span:nth-child(4){
    left: 0;
    bottom: -100%;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent,#ea1531);
    animation: btn4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}
