@import url('./navbar.css');

.hero{
    background-image:  url('./img/backgroundBoy.jpg');
    background-size: cover;
    background-position: center;
    animation: cor-change 5s linear infinite;
}
@keyframes cor-change{
    0%{
        filter: hue-rotate(0deg);
    }
    50%,
    100%{
        filter: hue-rotate(360deg);
    }
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 90%;
    background-image: url('./img/neve.png');
    animation: neve 20s linear infinite;
}
@keyframes neve{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 10% 1000%;
    }
}
